RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^insertarmenu/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ insertarmenu.php?IdMenu=$1&NameMenu=$2&IdCatalogoMenu=$3&CreatedAt=$4&UpdatedAt=$5&Enabled=$6 [L]
RewriteRule ^editarmenu/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ editarmenu.php?IdMenu=$1&NameMenu=$2&IdCatalogoMenu=$3&CreatedAt=$4&UpdatedAt=$5&Enabled=$6 [L]
RewriteRule ^insertaruser/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ insertaruser.php?IdUser=$1&ldPersonal=$2&NameUser=$3&LastName=$4&Email=$5&UserName=$6&Password=$7&IdRol=$8&CreatedAt=$9&Enabled=$10&UpdatedAt=$11 [L]
RewriteRule ^editaruser/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ editaruser.php?IdUser=$1&ldPersonal=$2&NameUser=$3&LastName=$4&Email=$5&UserName=$6&Password=$7&IdRol=$8&CreatedAt=$9&Enabled=$10&UpdatedAt=$11 [L]
RewriteRule ^insertarroles/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ insertarroles.php?IdRol=$1&NameRol=$2&IdMenu=$3&CreatedAt=$4&UpdatedAt=$5&Enabled=$6 [L]
RewriteRule ^editarroles/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ editarroles.php?IdRol=$1&NameRol=$2&IdMenu=$3&CreatedAt=$4&UpdatedAt=$5&Enabled=$6 [L]
RewriteRule ^insertarauditoria/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ insertarauditoria.php?IdAuditoria=$1&Sentencia=$2&Controller=$3&IdMenu=$4&IdUser=$5&CreateDate=$6 [L]
RewriteRule ^editarauditoria/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ editarauditoria.php?IdAuditoria=$1&Sentencia=$2&Controller=$3&IdMenu=$4&IdUser=$5&CreateDate=$6 [L]
RewriteRule ^insertarcontroller/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ insertarcontroller.php?IdController=$1&NameControllerView=$2&CreatedAt=$3&UpdatedAt=$4&Enabled=$5 [L]
RewriteRule ^editarcontroller/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ editarcontroller.php?IdController=$1&NameControllerView=$2&CreatedAt=$3&UpdatedAt=$4&Enabled=$5 [L]
RewriteRule ^insertarerrores/([0-9]+)/([^/]+)/([^/]+)/([^/]+)/([0-9]+)$ insertarerrores.php?IdErrores=$1&Sentencia=$2&Controller=$3&CreatedAt=$4&IdUser=$5 [L]
RewriteRule ^editarerrores/([0-9]+)/([^/]+)/([^/]+)/([^/]+)/([0-9]+)$ editarerrores.php?IdErrores=$1&Sentencia=$2&Controller=$3&CreatedAt=$4&IdUser=$5 [L]