RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^insertarmenu/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ insertarmenu.php?IdMenu=$1&NameMenu=$2&IdCatalogoMenu=$3&CreatedAt=$4&UpdatedAt=$5&Enabled=$6 [L]
RewriteRule ^editarmenu/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ editarmenu.php?IdMenu=$1&NameMenu=$2&IdCatalogoMenu=$3&CreatedAt=$4&UpdatedAt=$5&Enabled=$6 [L]